@model IEnumerable<FileTypeExample.Application.Dto.BigParaDto>


    <table class="table table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orderr)
            </th>
            <th>İşlemler</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Spot)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Link)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImagePath)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Orderr)
                </td>
                <td>
                    <a href="/Admin/BigParaEdit?id=@item.Id" class="btn btn-warning">Düzenle</a>
                    @Html.ActionLink("Add-Mongo", "AddMongo", "Admin", new { title = item.Title, spot = item.Spot, category = item.Category}, new { @class = "btn btn-success" })
                    @*<a href="/Admin/BigParaMongo?id=@item.Id" class="btn btn-success">Kaydet (Mongo)</a>*@
                </td>
            </tr>
        }
    </table>

