@model IEnumerable<FileTypeExample.Application.Dto.AdvDto>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Take(3))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
            </tr>
        }
    </tbody>
</table>